

Graph_Hackathon_job_folder.zip
Child_care_raw_data/*
.env
Full_Stack_System/DataBase_creation/childcare_db/childcare.db
Full_Stack_System/DataBase_creation/childcare_db/childcare_data.csv
Full_Stack_System/DataBase_creation/childcare_db/*.db
Full_Stack_System/DataBase_creation/childcare_db/venv*
Full_Stack_System/DataBase_creation/childcare_db/__pycache__*
GH_obsidian/.obsidian/workspace.json
Full_Stack_System/DataBase_creation/childcare_db/childcare_graph.db
Full_Stack_System/DataBase_creation/childcare_db/childcare.db