

Graph_Hackathon_job_folder.zip
Child_care_raw_data/*
.env
Full_Stack_System/DataBase_creation/childcare_db/childcare.db
Full_Stack_System/DataBase_creation/childcare_db/childcare_data.csv
Full_Stack_System/DataBase_creation/childcare_db/*.db
Full_Stack_System/DataBase_creation/childcare_db/venv*
Full_Stack_System/DataBase_creation/childcare_db/__pycache__*
GH_obsidian/.obsidian/workspace.json
Full_Stack_System/DataBase_creation/childcare_db/childcare_graph.db
Full_Stack_System/DataBase_creation/childcare_db/childcare.db
Knowledge_graph_Work/GRC-20_System/geo-contracts-main.zip
Knowledge_graph_Work/GRC-20_System/geogenesis-master.zip
Knowledge_graph_Work/GRC-20_System/grc-20-recipes-main.zip
Knowledge_graph_Work/GRC-20_System/grc-20-ts-main.zip
Knowledge_graph_Work/GRC-20_System/grc20-main.zip
Knowledge_graph_Work/GRC-20_System/GRC20-Pinellas-main.zip
Knowledge_graph_Work/GRC-20_System/hackathon-template-main.zip
GH_obsidian/Daily Notes/2025-02-27/Photos-001.zip